<div class="cardous">
  <h3>Total User</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi similique natus illo, hic veniam, odio quasi quia doloremque repellat cum dolore ipsam saepe exercitationem alias? Alias doloribus
    quam quos quae, perferendis nisi aliquid iure aut. Accusantium eos quasi quas ipsa repellendus, in rem, nostrum sint quisquam accusamus minus commodi eaque nemo debitis similique iste dolorum!
    Saepe sed aperiam suscipit expedita commodi ullam eveniet.
  </p>
</div>

<div class="cardous">
  <h3>Leader Board</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi similique natus illo, hic veniam, odio quasi quia doloremque repellat cum dolore ipsam saepe exercitationem alias? Alias doloribus
    quam quos quae, perferendis nisi aliquid iure aut. Accusantium eos quasi quas ipsa repellendus, in rem, nostrum sint quisquam accusamus minus commodi eaque nemo debitis similique iste dolorum!
    Saepe sed aperiam suscipit expedita commodi ullam eveniet.
  </p>
</div>
